{
    "db": {
        "host": "DB_HOST",
        "user": "DB_USER",
        "password": "DB_PASSWORD",
        "database": "DB_NAME"
    },
    "email": {
        "host": "MAIL_SERVER",
        "port": MAIL_SERVER_PORT,
        "user": "MAIL_USER",
        "pass": "MAIL_PASSWORD"
    },
    "crypto": {
        "secretKey": "secretKey",
        "secretIV": "secretIV"
    }
}